---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Snake</h1>
		<canvas></canvas>
	</body>
</html>

<style>
	body{
		margin: 0;
		padding: 0;
		display: grid;
		place-content: center;
		min-height: 100vh;
	}
</style>


<script>
	const canvas = document.querySelector("canvas") as HTMLCanvasElement
	const context = canvas.getContext("2d") as CanvasRenderingContext2D

	const BOARD = {
		width: 30,
		height: 30,
		pixel_size: 10
	}

	const SNAKE = {
		body: [[4,3],[4,4],[4,5],[4,6],[5,6]],
		lastDirection: "RIGHT",
		nextDirection: "RIGHT"
	}

	canvas.width = BOARD.pixel_size * BOARD.width
	canvas.height = BOARD.pixel_size * BOARD.height

	context.scale(BOARD.pixel_size, BOARD.pixel_size)

	function drawBoard (){
		context.fillStyle = "#000"
		context.fillRect(0, 0, canvas.width, canvas.height)
	}

	function drawSnake (){
		context.fillStyle = "#fff"
		SNAKE.body.forEach(([a,b])=>{
			context.fillRect(a, b, 1, 1)
		})
	}
	
	function drawFrame (){
		drawBoard()
		drawSnake()
	}

	drawFrame()
</script>